In [9]:
import sqlite3
con = sqlite3.connect('Database.db')
sql=con.cursor()
#sql.execute("Create table employee (id number(2), name varchar(10), age number(2))")
print("table created")
sql.execute("insert into employee values(21,'mohan',21)")
sql.execute("select * from employee")
rows=sql.fetchall()
for rows in rows:
    print(rows)
con.commit()
con.close()

table created
(21, 'mohan', 21)
(21, 'mohan', 21)

In [10]:
for rows in rows:
    print(rows)

21
mohan
21